@use "../variable/variables.scss" as *;

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.container {
  position: relative;
}

.navbar-brand {
  width: fit-content;
}

.common-a {
  background-image: $mainLinear;
  padding: 20px;
  box-shadow: 15px 12px 50px 0px $mainGreen;
  height: 51px;
  width: fit-content;
  z-index: 1;
}

@media (min-width: 992px) {
  .navbar .common-a {
    width: 120px;
    position: absolute;
    right: 0;
  }
}

section {
  padding-top: $section-top;
  padding-bottom: $section-bottom;
  position: relative;
}

header,
#landing {
  background-color: $blurWhite;
}

form {
  .form-control:focus {
    border-color: $mainGreen;
  }
  .form-control:focus ~ label {
    transform: translate(2rem, -2rem) !important;
    color: $mainGreen !important;
  }
  label {
    transform: translate(2rem, 0rem);
  }
  .icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $mainoverlay;
}

.order {
  position: absolute;
  background-color: $white;
}

.pointer {
  cursor: pointer;
}

.yellow {
  color: $mainYellow !important;
}

.green {
  color: $mainGreen !important;
}

.green-thing {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-100%);
}

.mint {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}

// Fonts

.sen {
  font-family: "sen", sans-serif;
}
.opensans {
  font-family: "open sans", sans-serif;
}
.jost {
  font-family: "jost", sans-serif;
}
.poppins {
  font-family: "poppins", sans-serif;
}
.worksans {
  font-family: "work sans", sans-serif;
}
.roboto {
  font-family: "roboto", sans-serif;
}
