@use "../variable/variables.scss" as *;

* {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.container {
  position: relative;
}

.navbar-brand {
  width: fit-content;
}

.common-a {
  background-image: $mainLinear;
  padding: 20px;
  box-shadow: 15px 12px 50px 0px $mainGreen;
  height: 51px;
  width: fit-content;
  z-index: 1;
}

@media (min-width: 992px) {
  .navbar .common-a {
    width: 120px;
    position: absolute;
    right: 0;
  }
}

section {
  padding-top: $section-top;
  padding-bottom: $section-bottom;
  position: relative;
  opacity: 0;
  top: 200px;
  transition: 1s;
}

section.show {
  opacity: 1;
  top: 0;
}

header,
#landing {
  background-color: $blurWhite;
}

form,
.form {
  .form-control:focus {
    border-color: $mainGreen;
  }
  .form-control:focus ~ label {
    transform: translate(2rem, -2rem) !important;
    color: $mainGreen !important;
  }
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: scale(0.85) translateY(-1.5rem) translateX(0.15rem);
  }
  label:not(.form-check-label) {
    transform: translate(2rem, 0rem);
    color: grey;
    font-family: "roboto", sans-serif;
  }
  .form-check-input {
    box-shadow: none;
  }
  .form-check-input:checked {
    box-shadow: none;
    background-color: $mainGreen;
    border-color: $mainGreen;
  }
  .password:focus {
    border-color: #fc5a5a;
  }
  .password:focus ~ label {
    color: #fc5a5a !important;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $mainoverlay;
}

.order {
  position: absolute;
  background-color: $white;
}

.pointer {
  cursor: pointer;
}

.yellow {
  color: $mainYellow !important;
}

.green {
  color: $mainGreen !important;
}

.green-thing {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-100%);
}

.mint {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}

// accordions
.accordion {
  .accordion-item {
    .accordion-button::after {
      display: none;
    }
    .accordion-button:not(.collapsed) {
      background-color: white !important;
    }
  }
}

// Fonts

.sen {
  font-family: "sen", sans-serif;
}
.opensans {
  font-family: "open sans", sans-serif;
}
.jost {
  font-family: "jost", sans-serif;
}
.poppins {
  font-family: "poppins", sans-serif;
}
.worksans {
  font-family: "work sans", sans-serif;
}
.roboto {
  font-family: "roboto", sans-serif;
}
