footer(class='footer')
            div(class='container')
                img(src="images/footer-mint.png", class='mint d-none d-sm-block' alt="")
                +logo
                
                div(class='info mb-5 row justify-content-center justify-content-sm-between')
                    div(class='col-12 col-sm-6 col-lg-4 col-xl-3')
                        h3(class='heading my-5 sen fw-bold') Why Us?
                        nav(class='nav flex-column')
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Responsive
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Engagememnt
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Scale
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Watch The Demo

                    div(class='col-12 col-sm-6 col-lg-4 col-xl-3')
                        h3(class='heading my-5 sen fw-bold') Resources
                        nav(class='nav flex-column')
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Developers
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Apps
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Blog
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Help Center

                    div(class='col-12 col-sm-6 col-lg-4 col-xl-3')
                        h3(class='heading my-5 sen fw-bold') Company
                        nav(class='nav flex-column')
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') About
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Merchant
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Career
                            a(href='#', class='text-decoration-none text-black opensans fw-regular my-2', style='--bs-text-opacity: .6;') Contact

                    div(class='col-12 col-sm-6 col-lg-4 col-xl-3')
                        h3(class='heading my-5 sen fw-bold') Our Social Media
                        div(class='socials')
                            a(class='social-links d-inline-flex align-items-center justify-content-center rounded me-4', href='#')
                                i(class='icon fa-brands fa-facebook-f fa-lg')
                            a(class='social-links d-inline-flex align-items-center justify-content-center rounded me-4', href='#')
                                i(class='icon fa-brands fa-twitter fa-lg')
                            a(class='social-links d-inline-flex align-items-center justify-content-center rounded me-4', href='#')
                                i(class='icon fa-brands fa-instagram fa-lg')
                        div(class='apps')
                            h3(class='heading mt-5 my-4 sen fw-bold') Download App
                            img(src="images/google-play-badge.png", alt="", class='pointer')
                            img(src="images/app-store-badge.png", alt="", class='pointer')
                hr
                div(class='finals my-5 d-flex flex-wrap align-items-center justify-content-center gap-3 justify-content-lg-between')
                    div(class='copyright text-black opensans fw-regular', style='--bs-text-opacity: .6;') 
                    div(class='links')
                        a(href="#", class='text-decoration-none pointer mx-2 text-black opensans fw-regular', style='--bs-text-opacity: .6;') Privacy Policy 
                        a(href="#", class='text-decoration-none pointer mx-2 text-black opensans fw-regular', style='--bs-text-opacity: .6;') Cookie Policy 
                        a(href="#", class='text-decoration-none pointer mx-2 text-black opensans fw-regular', style='--bs-text-opacity: .6;') Terms & Services 

                        