include ../components/mixins
header
    div(class='container')
        nav(class='navbar navbar-expand-lg')
            div(class='container-fluid')
                +logo
                button(class='navbar-toggler', type='button', data-bs-toggle='collapse', data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span(class='navbar-toggler-icon')
                div(class='collapse navbar-collapse ps-lg-5', id='navbarSupportedContent')
                    ul(class="navbar-nav")
                        li(class="nav-item")
                            a(class="nav-link opensans" aria-current="page" href="index.html") Home
                        li(class="nav-item")
                            a(class="nav-link opensans" aria-current="page" href="about.html") About
                        li(class="nav-item")
                            a(class="nav-link opensans" aria-current="page" href="resturant.html") Resturant
                        li(class="nav-item dropdown")
                            a(class="nav-link opensans dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Pages
                            ul(class='dropdown-menu')
                                li  #[a(class="dropdown-item opensans" href="merchant.html") Become Merchant] 
                                li  #[a(class="dropdown-item opensans" href="team.html") Our Team] 
                                li  #[a(class="dropdown-item opensans" href="faq.html") FAQ] 
                                li  #[a(class="dropdown-item opensans" href="single.html") Single Resturant] 
                        li(class="nav-item")
                            a(class="nav-link opensans" aria-current="page" href="service.html") Service
                        li(class="nav-item")
                            a(class="nav-link opensans mb-4 mb-lg-0" aria-current="page" href="contact.html") Contact
                    +buttonLink('login.html','Login','')
                