@use "../variable/variables.scss" as *;

// Start Landing
section.home-landing {
  .image-holder {
    .order {
      left: 0px;
      top: 0;
      transform: translate(-50%, 50%);
    }
    .card {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      width: 350px;
    }
  }
}
// End Landing

// Start Simple
section.home-simple {
  .container {
    .heading-p {
      max-width: 200px;
    }
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: $blurWhite;
      width: 95%;
      top: 5%;
      left: 5%;
      height: 80%;
      z-index: -1;
      border-radius: 20px;
    }

    .images {
      img {
        width: 40%;
      }
    }
    .info {
      .downloads {
        img {
          width: 50%;
        }
      }
    }
  }
}
// End Simple
// Start Features

section.home-feature {
  .container {
    .heading-p {
      max-width: 500px;
    }
  }
}

// End Features
// Start Works
section.home-works {
  .container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: $blurWhite;
      width: 70%;
      top: 0;
      left: 0%;
      height: 100%;
      z-index: -1;
      border-radius: 20px;
    }
    .mint {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
    }
    .info {
      .box {
        p {
          max-width: 300px;
        }
      }
    }
    .image {
      .order {
        right: 30px;
        top: 30px;
      }
      .box {
        position: absolute;
        background-color: $white;
        width: 80%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }
}
// End Works
// Start Menu
section.home-menu {
  .boxs {
    .box {
      height: 270px;
      background-color: $blurWhite;
      width: 170px;
      transition: 0.3s;
      &:hover {
        background-color: $mainGreen;
      }
      &:hover .menu-icon {
        display: inline-block !important;
      }
      &:hover h3 {
        color: $white;
      }
      h3 {
        transition: 0.3s;
      }
    }
  }
}
// End Menu
// Start Delicious

section.home-delicious {
  .heading {
    .slider-arrow {
      background-color: $blurWhite;
      transition: 0.3s;
      &:hover {
        background-color: $mainGreen;
        color: $white;
      }
    }
  }
  .cards {
    .card {
      .common-a {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
      }
    }
  }
}

// End Delicious
// Start Express

section.home-express {
  form {
    .form-control:focus {
      border-color: $mainGreen;
    }
    .form-control:focus ~ label {
      transform: translate(2rem, -2rem);
    }
    label {
      transform: translate(2rem, 0rem);
    }
    .icon {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// End Express
// Start Partner

section.home-partner {
  .mint {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-80%);
  }
  .boxs {
    .box {
      background-color: $blurWhite;
      border-radius: 20px;
      .image-holder {
        width: fit-content;
        margin: auto;
      }
      .info {
        .common-a {
          padding-left: 1.5rem !important;
          padding-right: 1.5rem !important;
        }
      }
    }
  }
}

// End Partner
// Start Articles

section.home-articles {
  .boxs {
    .card {
      width: 350px;
      border-radius: 20px;
      .date {
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 999;
      }
    }
  }
}

// End Articles
