@use "../variable/variables.scss" as *;

section.register {
  .mw-45 {
    min-width: 45%;
    max-width: 50%;
    @media (width <= 576px) {
      & {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  button.btn {
    background-color: $mainGreen;
    max-width: 600px;
  }
}
