@use "../variable/variables.scss" as *;

// Start Service
section.service-service {
  .boxs {
    .box {
      max-width: 320px;
      .icon-holder {
        width: 120px;
        height: 120px;
        background-image: $altLinear;
        .icon {
          font-size: 60px;
        }
      }
    }
  }
}
// End Service
// Start Discount

section.service-discount {
  .discount {
    background-color: $blurWhite;
    width: fit-content;
  }
  .header {
    h2 {
      max-width: 500px;
    }
    p {
      max-width: 400px;
    }
  }
}

// End Discount

// Start Delicious

section.service-delicious {
  .info {
    .box {
      img {
        position: absolute;
        transform: translateY(-125%);
      }
    }
  }
}

// End Delicious
