$mainGreen: #519259;
$mainYellow: #febd2e;
$blurWhite: #f8fcf8;
$transparentblack: #00000099;
$mainLinear: linear-gradient(155deg, #519259, #89d292);
$mainoverlay: rgba(0, 0, 0, 0.29);
$white: #fff;
$section-top: 70px;
$section-bottom: 70px;
