doctype html
include pug/components/mixins
html(lang="en")
    head
        include pug/links/styles
        include pug/links/fonts
        title FoadRoad/Service
    body 
        include pug/layout/header

        section(class='contact-landing', id='landing')
            div(class='container')
                div(class='row align-items-center justify-content-between')
                    div(class='info text-center text-lg-start col-lg-4')
                        h1(class='heading sen display-2') Contant
                        p(class='text-black lh-lg' style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.
                    div(class='image-holder relative col-12 col-lg-7 p-0 text-center')
                        img(src="images/contact-landing.png",class='', alt="")

        section(class='contact-message')
            div(class='container rounded-5 p-1 p-sm-5')
                h1(class='display-3 sen text-center mb-5 mt-4') Send Us a Message
                form(class='contact-form d-flex justify-content-between flex-wrap')
                    div(class='form-floating mb-4')
                        input(class='form-control rounded-pill shadow-none border-0 ps-5',type='text', id='name', placeholder='Your Name')
                        label(for='name') Your Name
                    div(class='form-floating mb-4')
                        input(class='form-control rounded-pill shadow-none border-0 ps-5',type='email', id='email', placeholder='Your Email')
                        label(for='name') Your Email
                    div(class='form-floating mb-4')
                        input(class='form-control rounded-pill shadow-none border-0 ps-5',type='text', id='phone', placeholder='Phone number')
                        label(for='name') Phone number
                    div(class='form-floating mb-4')
                        input(class='form-control rounded-pill shadow-none border-0 ps-5',type='text', id='subject', placeholder='Subject')
                        label(for='name') Subject
                    div(class='form-floating mb-5 w-100')
                        textarea(class='form-control rounded-5 shadow-none border-0 ps-5', type='text', id='message', placeholder='Your message')
                        label(for='message') Your message
                    +buttonLink('#','Send Message','mb-4 mx-auto')

        section(class='contact-office')
            div(class='container')
                div(class='row align-items-center')
                    div(class='image-holder me-auto d-none d-lg-block col-5')
                        img(src="images/contact-office.png", alt="")
                    div(class='info col-12 col-lg-6')
                        h2(class='sen display-4 mb-5') Office Adress
                        div(class='box d-flex align-items-center flex-column flex-sm-row gap-4 py-4 border-bottom border-2')
                            div(class='icon-holder rounded-circle d-flex align-items-center justify-content-center')
                                i(class='icon text-white fa-solid fa-location-dot')
                            h3(class='sen fw-bold') 2118 Thornridge Cir. Syracuse, Connecticut 35624
                        div(class='box d-flex align-items-center flex-column flex-sm-row gap-4 py-4 border-bottom border-2')
                            div(class='icon-holder rounded-circle d-flex align-items-center justify-content-center')
                                i(class='icon text-white fa-solid fa-phone-flip')
                            h3(class='sen fw-bold') (316) 555-0116
                        div(class='box d-flex align-items-center flex-column flex-sm-row gap-4 py-4 border-bottom border-2')
                            div(class='icon-holder rounded-circle d-flex align-items-center justify-content-center')
                                i(class='icon text-white fa-solid fa-envelope')
                            h3(class='sen fw-bold') info@example.com

        section(class='contact-map')
            div(class='container')
                iframe(class='w-100', src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.61185036608!2d31.340866567702808!3d30.059611343411895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2z2KfZhNmC2KfZh9ix2KnYjCDZhdit2KfZgdi42Kkg2KfZhNmC2KfZh9ix2KnigKw!5e0!3m2!1sar!2seg!4v1691172175182!5m2!1sar!2seg" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

        include pug/layout/footer
        include pug/links/scripts