doctype html
include pug/components/mixins
html(lang="en")
    head
        include pug/links/styles
        include pug/links/fonts
        title FoadRoad/Home
    body 
        include pug/layout/header
        section(class='home-landing', id='landing')
            div(class='container')
                div(class='row align-items-center justify-content-between')
                    div(class='info col-lg-6')
                        h1(class='heading sen fw-bolder display-3') Order Your Food & Enjoy The Taste
                        p(class='text-dark lh-lg' style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        div(class='buttons d-flex align-items-center justify-content-start')
                            +buttonLink('#','Order Now','')
                            div(class='watch opensans fw-semibold d-flex align-items-center ms-3') #[i(class='play-icon green fa-solid fa-play mx-3')] watch
                    div(class='image-holder relative d-none d-lg-block col-5 p-0')
                        img(src="images/main-landing-home.png",class='h-100', alt="")
                        +overlay('','rounded-start-5') 
                        +orderCompelete
                        div(class='card px-2')
                            div(class='row g-0 d-flex align-items-center')
                                div(class='col-md-4')
                                    img(src="images/card-landing-home.png", alt="")
                                div(class='col-md-8')
                                    div(class='card-body')
                                        div(class='card-title sen fw-bold') Chicken Teriyaki Sauce
                                        div(class='stars my-2')
                                            i(class="star fa-solid fa-star yellow")
                                            i(class="star fa-solid fa-star yellow")
                                            i(class="star fa-solid fa-star yellow")
                                            i(class="star fa-solid fa-star yellow")
                                            i(class="star fa-solid fa-star yellow")
                                        div(class='price green h5 jost') $7.99
        
        section(class='home-simple')
            div(class='container')
                div(class='row d-flex align-items-center')
                    div(class='images mb-3 col-12 col-md-6 text-center')
                        img(src="images/simple1-home.png",class='me-4', alt="")
                        img(src="images/simple2-home.png", alt="")
                    div(class='info col-12 col-md-6')
                        h1(class='heading sen fw-bolder display-4') Simple Way to Order Your Food Faster
                        p(class='content opensans fw-regular text-dark lh-lg' style='--bs-text-opacity: .6') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        div(class='downloads')
                            img(src="images/google-play-badge.png", class='pointer', alt="")
                            img(src="images/app-store-badge.png", class='pointer', alt="")
        
        section(class='home-feature')
            div(class='container')
                h1(class='heading sen fw-bolder text-center display-4') What we Feature
                p(class='heading-p lh-lg text-dark opensans fw-regular text-center mx-auto my-5' style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                div(class='row align-items-center text-center')
                    div(class='box col-12 col-sm-6 col-lg-4 ')
                        img(src="images/feature1-home.png",class='mw-100' alt="", srcset="")
                        h3(class='sen fw-bold my-3') The Best Courier
                        p(class='text-dark lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='box col-12 col-sm-6 col-lg-4 ')
                        img(src="images/feature2-home.png",class='mw-100' alt="", srcset="")
                        h3(class='sen fw-bold my-3') Easy To Use
                        p(class='text-dark lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='box col-12 col-sm-6 col-lg-4')
                        img(src="images/feature3-home.png",class='mw-100' alt="", srcset="")
                        h3(class='sen fw-bold my-3') 24/7 Support
                        p(class='text-dark lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        
        section(class='home-works')
            div(class='container py-5')
                img(src="images/Mint.png",class='mint d-none d-sm-block' alt="")
                div(class='row align-items-center')
                    div(class='info col-12 col-md-5')
                        h2(class='heading sen display-5 mb-5') How it Works
                        
                        div(class='box mb-5')
                            h3(class='sen fw-bold') #[span(class='green') 01] Choose Your Meals
                            p(class='opensans text-dark lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        
                        div(class='box mb-5')
                            h3(class='sen fw-bold') #[span(class='green') 02] Pay For The Orders
                            p(class='opensans text-dark lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        
                        div(class='box mb-5')
                            h3(class='sen fw-bold') #[span(class='green') 03] Delivered For Free
                            p(class='opensans text-dark lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='image col-12 col-md-6 ms-auto relative p-0')
                        img(src="images/works-home.png", alt="")
                        +overlay('','rounded-5')
                        +orderCompelete
                        div(class='box p-4 shadow rounded-5 text-center')
                            h3(class='sen fw-bold h3') #[span(class='h2 fw-bold yellow') 800K+] Total Downloads
                            p(class='text-dark lh-lg opensans' style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt

        section(class='home-menu')
            div(class='container')
                h1(class='heading display-4 mb-5 sen text-center') Our Menus
                div(class='boxs d-flex align-items-center justify-content-center justify-content-lg-between flex-wrap gap-3')
                    div(class='box rounded-5 pointer text-center') 
                        img(src='images/pizza.png', class='my-5')
                        h3(class='sen fw-bold') Pizza #[i(class='menu-icon d-none fa-solid fa-angle-right')]
                    div(class='box rounded-5 pointer text-center') 
                        img(src='images/rice.png', class='my-5')
                        h3(class='sen fw-bold') Asian #[i(class='menu-icon d-none fa-solid fa-angle-right')]
                    div(class='box rounded-5 pointer text-center') 
                        img(src='images/burger.png', class='my-5')
                        h3(class='sen fw-bold') Burger #[i(class='menu-icon d-none fa-solid fa-angle-right')]
                    div(class='box rounded-5 pointer text-center') 
                        img(src='images/drink.png', class='my-5')
                        h3(class='sen fw-bold') Drink #[i(class='menu-icon d-none fa-solid fa-angle-right')]
                    div(class='box rounded-5 pointer text-center') 
                        img(src='images/salad.png', class='my-5')
                        h3(class='sen fw-bold') Salad #[i(class='menu-icon d-none fa-solid fa-angle-right')]
                    div(class='box rounded-5 pointer text-center') 
                        img(src='images/bakery.png', class='my-5')
                        h3(class='sen fw-bold') Bakery #[i(class='menu-icon d-none fa-solid fa-angle-right')]

        section(class='home-delicious')
            div(class='container')
                div(class='heading mb-5 d-flex align-items-center justify-content-between')
                    h1(class='sen display-3') Delicious Food For You
                    div(class='arrows display-5 d-flex gap-3')
                        i(class='slider-arrow pointer py-1 px-3 rounded-3 fa-solid fa-angle-left')
                        i(class='slider-arrow pointer py-1 px-3 rounded-3 fa-solid fa-angle-right')  
                div(class='cards d-flex justify-content-center flex-wrap gap-5')

                    div(class='card overflow-hidden shadow border-0', style='width: 18rem;')
                        div(class='image-holder relative')
                            img(src="images/delicious-1.png", alt="")
                            +overlay('')
                        div(class='card-body')
                            div(class='stars my-3')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow me-3')
                                span(class='rate') (5.0)
                            h5(class='fw-bold sen') Grilled Salmon Fillet
                            p(class='opensans fw-regular text-dark text-truncate', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            div(class='d-flex align-items-center justify-content-between mt-4')
                                h5(class='price jost fw-bold m-0') $10.99
                                +buttonLink('#','Add to Cart', 'px-1')
                
                    div(class='card overflow-hidden shadow border-0', style='width: 18rem;')
                        div(class='image-holder relative')
                            img(src="images/delicious-2.png", alt="")
                            +overlay('')
                        div(class='card-body')
                            div(class='stars my-3')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow me-3')
                                span(class='rate') (5.0)
                            h5(class='fw-bold sen') Chicken Teriyaki Sauce
                            p(class='opensans fw-regular text-dark text-truncate', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            div(class='d-flex align-items-center justify-content-between mt-4')
                                h5(class='price jost fw-bold m-0') $5.99
                                +buttonLink('#','Add to Cart', '')
                
                    div(class='card overflow-hidden shadow border-0', style='width: 18rem;')
                        div(class='image-holder relative')
                            img(src="images/delicious-3.png", alt="")
                            +overlay('')
                        div(class='card-body')
                            div(class='stars my-3')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow me-3')
                                span(class='rate') (5.0)
                            h5(class='fw-bold sen') Cheese Stuffed Burgers
                            p(class='opensans fw-regular text-dark text-truncate', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            div(class='d-flex align-items-center justify-content-between mt-4')
                                h5(class='price jost fw-bold m-0') $8.99
                                +buttonLink('#','Add to Cart', '')
                
                    div(class='card overflow-hidden shadow border-0', style='width: 18rem;')
                        div(class='image-holder relative')
                            img(src="images/delicious-4.png", alt="")
                            +overlay('')
                        div(class='card-body')
                            div(class='stars my-3')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow me-3')
                                span(class='rate') (5.0)
                            h5(class='fw-bold sen') Seafood Salad
                            p(class='opensans fw-regular text-dark text-truncate', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            div(class='d-flex align-items-center justify-content-between mt-4')
                                h5(class='price jost fw-bold m-0') $9.99
                                +buttonLink('#','Add to Cart', '')
                
                    div(class='card overflow-hidden shadow border-0', style='width: 18rem;')
                        div(class='image-holder relative')
                            img(src="images/delicious-5.png", alt="")
                            +overlay('')
                        div(class='card-body')
                            div(class='stars my-3')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow me-3')
                                span(class='rate') (5.0)
                            h5(class='fw-bold sen') Salad With Calamari
                            p(class='opensans fw-regular text-dark text-truncate', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            div(class='d-flex align-items-center justify-content-between mt-4')
                                h5(class='price jost fw-bold m-0') $7.99
                                +buttonLink('#','Add to Cart', '')
                
                    div(class='card overflow-hidden shadow border-0', style='width: 18rem;')
                        div(class='image-holder relative')
                            img(src="images/delicious-6.png", alt="")
                            +overlay('')
                        div(class='card-body')
                            div(class='stars my-3')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                i(class='star fa-solid fa-star yellow')
                                span(class='rate ms-3') (5.0)
                            h5(class='fw-bold sen') Baked Mushrooms
                            p(class='opensans fw-regular text-dark text-truncate', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            div(class='d-flex align-items-center justify-content-between mt-4')
                                h5(class='price jost fw-bold m-0') $6.99
                                +buttonLink('#','Add to Cart', '')

        section(class='home-customers')
            div(class='container')
                img(src="images/Mint.png",class='mint d-none d-sm-block' alt="")
                div(class='content row align-items-center justify-content-between')
                    div(class='image-holder col-12 col-lg-5')
                        img(src="images/customers-1.png", alt="")
                    div(class='info col-12 col-lg-6')
                        h1(class='heading mt-5 display-4 sen') What Customers Say About us
                        p(class='opensans text-dark lh-lg fw-regular my-5', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        div(class='card border-0 relative m-auto m-md-0 text-center text-md-start' style='max-width: 400px;')
                            div(class='row g-0')
                                div(class='col-md-4 d-flex align-items-center justify-content-center')
                                    img(src="images/customers-2.png", alt="")
                                div(class='col-md-8')
                                    div(class='card-body')
                                        h5(class='card-title') Mohamed Mostafa 
                                        p(class='card-text') #[small(class='text-body-secondry')] Food Lovers
                                        div(class='stars')
                                            i(class='star fa-solid fa-star yellow')
                                            i(class='star fa-solid fa-star yellow')
                                            i(class='star fa-solid fa-star yellow')
                                            i(class='star fa-solid fa-star yellow')
                                            i(class='star fa-solid fa-star yellow')
                                            span(class='rate ms-3') (5.0)

        section(class='home-express')
            div(class='container')
                div(class='row align-items-center justify-content-between')
                    div(class='info col-12 col-lg-5')
                        h1(class='heading display-4 mb-5 sen') Express food oredering with delivery
                        form
                            div(class='form-floating mb-3 opensans')
                                i(class='icon fa-solid fa-user fa-lg green')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type='text', id='floatingName', placeholder='Name')
                                label(for="floatingName",) Name

                            div(class='form-floating mb-3 opensans')
                                i(class='icon fa-solid fa-location-dot fa-lg green')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type='text', id='floatingAddress', placeholder='Address')
                                label(for="floatingAddress",) Address

                            div(class='form-floating mb-3 opensans')
                                i(class='icon fa-regular fa-envelope fa-lg green')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type='email', id='floatingEmail', placeholder='Email')
                                label(for="floatingName",) Email

                            div(class='form-floating mb-3 opensans')
                                i(class='icon fa-solid fa-phone-flip fa-lg green')
                                input(class='form-control  p-0 ps-5 rounded-pill shadow-none', type='text', id='floatingPhone', placeholder='Phone')
                                label(for="floatingPhone",) Phone
                            
                            +buttonLink('#','Register Now', 'mt-5')

                    div(class='image-holder d-none d-lg-flex col-lg-6')
                        img(src="images/express-home.png", alt="")
        
        section(class='home-partner')
            div(class='container')
                img(src='images/Mint.png', class='mint d-none d-sm-block', alt='')
                h1(class='heading sen display-4 mb-5 text-center') Want to Join Partnership?
                div(class='boxs gap-5 row align-items-center justify-content-center justify-content-md-between')
                    div(class='box p-4 p-sm-5 col-12 col-lg-5')
                        div(class='image-holder relative')
                            img(src="images/partner-1.png", alt="")
                            +overlay('border-radius: 20px')
                        div(class='info gap-4 flex-column flex-sm-row justify-content-center  mt-4 d-flex align-items-center justify-content-sm-between')
                            h5(class='title m-0 fw-bold sen') Join Courier
                            +buttonLink('#', 'Read More', '')
                    div(class='box p-4 p-sm-5 col-12 col-lg-5')
                        div(class='image-holder relative')
                            img(src="images/partner-2.png", alt="")
                            +overlay('border-radius: 20px')
                        div(class='info gap-4 flex-column flex-sm-row justify-content-center  mt-4 d-flex align-items-center justify-content-sm-between')
                            h5(class='title m-0 fw-bold sen') Join Merchant
                            +buttonLink('#', 'Read More', '')

        section(class='home-articles')
            div(class='container')
                h1(class='heading my-5 sen display-4 text-center') Articles For Food Lovers!
                div(class='boxs d-flex flex-wrap justify-content-center justify-content-xl-between gap-3')
                
                    div(class='card overflow-hidden border-0 shadow-lg') 
                        div(class='image-holder relative')
                            div(class='date bg-white rounded-pill d-flex align-items-center gap-3 p-3 bg')
                                i(class='fa-solid fa-calendar-days green icon')
                                h6(class='sen fw-bold title m-0') 24 April 2023
                            img(src='images/article-1.png')
                            +overlay('')
                        div(class='card-body')
                            h5(class='card-title my-3') Balance Of Proteins . . .
                            p(class='card-text text-black lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            +buttonLink('#', 'Read More', 'my-4')
                
                    div(class='card overflow-hidden border-0 shadow-lg') 
                        div(class='image-holder relative')
                            div(class='date bg-white rounded-pill d-flex align-items-center gap-3 p-3 bg')
                                i(class='fa-solid fa-calendar-days green icon')
                                h6(class='sen fw-bold title m-0') 23 April 2023
                            img(src='images/article-2.png')
                            +overlay('')
                        div(class='card-body')
                            h5(class='card-title my-3') The Characteristics Of . . .
                            p(class='card-text text-black lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            +buttonLink('#', 'Read More', 'my-4')
                
                    div(class='card overflow-hidden border-0 shadow-lg') 
                        div(class='image-holder relative')
                            div(class='date bg-white rounded-pill d-flex align-items-center gap-3 p-3 bg')
                                i(class='fa-solid fa-calendar-days green icon')
                                h6(class='sen fw-bold title m-0') 20 April 2023
                            img(src='images/article-1.png')
                            +overlay('')
                        div(class='card-body')
                            h5(class='card-title my-3') The Characteristics Of . . .
                            p(class='card-text text-black lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            +buttonLink('#', 'Read More', 'my-4')

       
        include pug/layout/footer
        include pug/links/scripts