doctype html
include pug/components/mixins
html(lang="en")
    head
        include pug/links/styles
        include pug/links/fonts
        title FoadRoad/Sign in
    body 
        main(class='row mx-0 justify-content-between mw-100 vh-100 mh- gap-5 px-sm-4 pe-lg-0 ps-lg-5', id='login')
            div(class='info col-12 col-lg-5 d-flex align-items-center justify-content-center flex-column gap-4')
                +logo
                h1(class='sen display-2 yellow') Sign In
                p(class='opensans lh-lg text-black', style='--bs-text-opacity: .6;') Just sign in if you have an account in here. Enjoy our Website
                form(class='w-100')
                    div(class='form-floating mb-4')
                        input(class='form-control shadow-none rounded-pill py-0 px-4', required, type="email", id='username', placeholder='Your Email / Username')
                        label(for="username") Your Email / Username 
                    
                    div(class='form-floating mb-4')
                        input(class='form-control shadow-none rounded-pill py-0 px-4', required, type="password", id='password', placeholder='Enter Password')
                        label(for="password") Enter Password 
                    
                    div(class='d-flex align-items-center justify-content-between mb-4')
                        div(class='form-check')
                            input(class="form-check-input pointer" type="checkbox" value="" id="flexCheckDefault")
                            label(class="form-check-label pointer" for="flexCheckDefault") Remeber Me
                        a(href="#",class='yellow pointer text-decoration-none') Forgot Password
                    
                    input(class='submit pointer border-0 py-2 w-100 text-white rounded-pill', type="submit", value="login")
                p(class='opensans') If you do not have E-mail just #[a(class='yellow', href='register.html') Register]
            div(class='image-holder col-lg-6 relative d-none d-lg-block px-0')
                img(src="images/login.png",class='vh-100 w-100', alt="")
                +overlay()

        include pug/links/scripts