doctype html
include pug/components/mixins
html(lang="en")
    head
        include pug/links/styles
        include pug/links/fonts
        title FoadRoad/Become Merchant
    body 
        include pug/layout/header

        section(class='merchant-landing', id='landing')
            div(class='container')
                img(src="images/green-thing.png",class='d-none green-thing d-lg-block' alt="")
                div(class='row align-items-center justify-content-between')
                    div(class='info text-center text-lg-start col-lg-7')
                        h1(class='heading sen display-2') Become Merchant
                        p(class='text-black lh-lg' style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                    div(class='image-holder relative d-none d-lg-block col-5 p-0')
                        img(src="images/merchant-landing.png",class='', alt="")

        section(class='merchant-earn')
            div(class='container')
                div(class='content row align-items-center justify-content-between')
                    div(class='image-holder text-center text-lg-start col-12 col-lg-5')
                        img(src="images/merchant-earn.png", alt="")
                    div(class='info col-12 col-lg-6')
                        h1(class='heading mt-5 display-4 sen') Earn Extra Money. Join With us Now
                        p(class='opensans text-dark lh-lg fw-regular my-5', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                        form
                            div(class='form-floating mb-3 opensans')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type="text", id='name', placeholder='Your Name')
                                label(for='name') Your Name

                            div(class='form-floating mb-3 opensans')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type="text", id='address', placeholder='Your Address')
                                label(for='address') Your Address
                            
                            div(class='form-floating mb-3 opensans')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type="text", id='email', placeholder='Your Email')
                                label(for='email') Your Email

                            div(class='form-floating mb-3 opensans')
                                input(class='form-control p-0 ps-5 rounded-pill shadow-none', type="text", id='phone', placeholder='Your Phone')
                                label(for='phone') Your Phone

                            +buttonLink('#','Register Now', 'mt-5')

        section(class='merchant-simple')
            div(class='container')
                div(class='row align-items-center flex-wrap')
                    h1(class='heading display-4 sen me-auto col-12 col-md-6') Simple Step to Earn Extra Money
                    div(class='increase d-flex align-items-center justify-content-center gap-5 col-12 col-md-5 rounded-5 p-5')
                        i(class="fa-solid fa-arrow-trend-up green display-1")
                        div(class='info')
                            h2(class='green display-5 fw-bold') 200%
                            p(class='sen fs-4 fw-bold') Income Increases
                div(class='row align-items-center justify-content-center gap-4 flex-wrap')
                    div(class='box mt-5')
                        h1(class=' green display-4 fw-bold') 1
                        h2(class='sen fw-bold green my-4') Register Online
                        p(class='opensans text-black lh-lg', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='box mt-5')
                        h1(class=' green display-4 fw-bold') 2
                        h2(class='sen fw-bold green my-4') Deliver Order
                        p(class='opensans text-black lh-lg', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='box mt-5')
                        h1(class=' green display-4 fw-bold') 3
                        h2(class='sen fw-bold green my-4') Earn Money
                        p(class='opensans text-black lh-lg', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                
        section(class='merchant-delicious')
            div(class='container')
                div(class='content row align-items-center justify-content-between')
                    div(class='image-holder text-center text-lg-start col-12 col-lg-5')
                        img(src="images/merchant-join.png", alt="")
                    div(class='info col-12 col-lg-6')
                        h1(class='heading display-4 sen') Why You Need to Join Us
                        p(class='opensans text-dark lh-lg fw-regular my-4', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        h2(class='sen fw-bold display-6 d-flex align-items-center gap-3') #[span(class='green display-4 fw-bold') 1200+]  Merchant
                        +buttonLink('#','Read More','mt-4')

        include pug/layout/footer
        include pug/links/scripts