doctype html
include pug/components/mixins
html(lang="en")
    head
        include pug/links/styles
        include pug/links/fonts
        title FoadRoad/Service
    body 
        include pug/layout/header
        section(class='about-landing', id='landing')
            div(class='container')
                img(src="images/green-thing.png",class='d-none green-thing d-lg-block' alt="")
                div(class='row align-items-center justify-content-between')
                    div(class='info text-center text-lg-start col-lg-6')
                        h1(class='heading sen display-1') Services
                        p(class='text-dark lh-lg' style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                    div(class='image-holder relative text-center col-12 col-lg-6 p-0')
                        img(src="images/landing-service.png",class='h-100', alt="")

        section(class='service-service')
            div(class='container')
                h1(class='display-3 sen text-center mb-5') Our Service
                div(class='boxs d-flex align-items-center justify-content-center justify-content-xl-between flex-wrap gap-5')
                    
                    div(class='box text-center')
                        div(class='icon-holder d-flex align-items-center justify-content-center mx-auto rounded-4')
                            i(class='icon fa-solid fa-person-biking text-white')
                        h2(class='sen fw-bold my-4') Food Delivery
                        p(class='opensans fw-regular text-black lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    
                    div(class='box text-center')
                        div(class='icon-holder d-flex align-items-center justify-content-center mx-auto rounded-4')
                            i(class='icon fa-solid fa-bottle-droplet text-white')
                        h2(class='sen fw-bold my-4') Grocery Delivery
                        p(class='opensans fw-regular text-black lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    
                    div(class='box text-center')
                        div(class='icon-holder d-flex align-items-center justify-content-center mx-auto rounded-4')
                            i(class='icon fa-regular fa-compass text-white')
                        h2(class='sen fw-bold my-4') Drive In Restaurant
                        p(class='opensans fw-regular text-black lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    
                    div(class='box text-center')
                        div(class='icon-holder d-flex align-items-center justify-content-center mx-auto rounded-4')
                            i(class='icon fa-solid fa-bag-shopping text-white')
                        h2(class='sen fw-bold my-4') Grocery Shopping
                        p(class='opensans fw-regular text-black lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    
                    div(class='box text-center')
                        div(class='icon-holder d-flex align-items-center justify-content-center mx-auto rounded-4')
                            i(class='icon fa-solid fa-utensils text-white')
                        h2(class='sen fw-bold my-4') Join Merchant
                        p(class='opensans fw-regular text-black lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    
                    div(class='box text-center')
                        div(class='icon-holder d-flex align-items-center justify-content-center mx-auto rounded-4')
                            i(class='icon fa-regular fa-circle-user text-white')
                        h2(class='sen fw-bold my-4') Join Courier
                        p(class='opensans fw-regular text-black lh-lg',style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy

        section(class='service-discount')
            div(class='container')
                div(class='discount rounded-3 green px-3 py-2 sen fw-bold') #[i(class='icon fa-solid fa-hand-holding-dollar mx-2')] Download App And Get Your Discount
                div(class='header my-5 d-flex align-items-center justify-content-between flex-wrap gap-4')
                    h2(class='sen display-3') Make You Easier And Happeir
                    p(class='opensans lh-lg text-black', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                div(class='row align-items-center text-center')
                    div(class='box col-12 col-sm-6 col-lg-4 ')
                        img(src="images/feature1-home.png",class='mw-100' alt="", srcset="")
                        h3(class='sen fw-bold my-3') The Best Courier
                        p(class='text-dark lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='box col-12 col-sm-6 col-lg-4 ')
                        img(src="images/feature2-home.png",class='mw-100' alt="", srcset="")
                        h3(class='sen fw-bold my-3') Easy To Use
                        p(class='text-dark lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    div(class='box col-12 col-sm-6 col-lg-4')
                        img(src="images/feature3-home.png",class='mw-100' alt="", srcset="")
                        h3(class='sen fw-bold my-3') 24/7 Support
                        p(class='text-dark lh-lg opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        
        section(class='service-delicious')
            div(class='container')
                div(class='content row align-items-center justify-content-between')
                    div(class='image-holder text-center text-lg-start col-12 col-lg-5')
                        img(src="images/service-delicious.png", alt="")
                    div(class='info col-12 col-lg-6')
                        h1(class='heading mt-5 display-4 sen') Wait a Minute For Delicious
                        p(class='opensans text-dark lh-lg fw-regular my-5', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        div(class='box p-4 pt-5 rounded-4 shadow-lg relative m-auto m-md-0 text-center text-md-start')
                            img(src="images/service-delicious-card.png", alt="")
                            p(class='opensans lh-lg text-black', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                            div(class='card-body p-0')
                                h5(class='d-inline') Mohamed Mostafa 
                                div(class='stars d-inline ms-2')
                                    i(class='star fa-solid fa-star yellow me-1')
                                    i(class='star fa-solid fa-star yellow me-1')
                                    i(class='star fa-solid fa-star yellow me-1')
                                    i(class='star fa-solid fa-star yellow me-1')
                                    i(class='star fa-solid fa-star yellow')

        section(class='service-frequently')
            div(class='container')
                div(class='row justify-content-between align-items-center')
                    div(class='info col-12 col-lg-6')
                        h1(class='display-3 sen mb-5') frequently Asked Questions
                        div(class='accordion accordion-flush', id='accordionPanelsStayOpenExample')

                            div(class='accordion-item')
                                h2(class='accordion-header')
                                    button(class='accordion-button collapsed justify-content-between green fw-bold fs-3 shadow-none', type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne") How Long My Order Delivery #[i(class='icon fa-solid fa-minus')]
                                div(id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show")
                                    div(class='accordion-body lh-lg text-black opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.
                                                    
                            div(class='accordion-item')
                                h2(class='accordion-header')
                                    button(class='accordion-button collapsed justify-content-between green fw-bold fs-3 shadow-none', type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo") How Long My Order Delivery #[i(class='icon fa-solid fa-plus')]
                                div( id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse")
                                    div(class='accordion-body lh-lg text-black opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed dia
                                
                            div(class='accordion-item')
                                h2(class='accordion-header')
                                    button(class='accordion-button collapsed justify-content-between green fw-bold fs-3 shadow-none', type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree") How Long My Order Delivery #[i(class='icon fa-solid fa-plus')]
                                div(id="panelsStayOpen-collapseThree" class="accordion-collapse collapse")
                                    div(class='accordion-body lh-lg text-black opensans', style='--bs-text-opacity: .6;') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.
                    div(class='image-holder text-center col-5 d-none d-lg-block')
                        img(src="images/service-frequently.png", alt="")
        
        include pug/layout/footer
        include pug/links/scripts