-
    let titles = ['giza', 'new york', 'alexandriea', 'cairo', 'sharkia']
    let restaurantCards = 
    [
        {
            imgSrc: 'images/resturant-card-1.png',
            place: 'El Haram, Giza',
            title: 'Golden Line Restaurants',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-2.png',
            place: 'New York City',
            title: 'The Mama Restaurants',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-3.png',
            place: 'New York City',
            title: 'Empire And Food Cafe',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-4.png',
            place: 'El Sharkia',
            title: 'The Brimstone Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-5.png',
            place: 'Alexandriea',
            title: 'Stranger Food Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-6.png',
            place: 'Cairo',
            title: 'Osteria Francescana Caffe',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-7.png',
            place: 'Cairo',
            title: 'Italian Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-8.png',
            place: 'Alexandriea',
            title: 'Vegan Only Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-9.png',
            place: 'Giza',
            title: 'Osteria Forest Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

    ]