-
    //-  Resturant Page
    let titles = ['giza', 'new york', 'alexandriea', 'cairo', 'sharkia']
    let restaurantCards = 
    [
        {
            imgSrc: 'images/resturant-card-1.png',
            place: 'El Haram, Giza',
            title: 'Golden Line Restaurants',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-2.png',
            place: 'New York City',
            title: 'The Mama Restaurants',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-3.png',
            place: 'New York City',
            title: 'Empire And Food Cafe',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-4.png',
            place: 'El Sharkia',
            title: 'The Brimstone Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-5.png',
            place: 'Alexandriea',
            title: 'Stranger Food Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-6.png',
            place: 'Cairo',
            title: 'Osteria Francescana Caffe',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-7.png',
            place: 'Cairo',
            title: 'Italian Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-8.png',
            place: 'Alexandriea',
            title: 'Vegan Only Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

        {
            imgSrc: 'images/resturant-card-9.png',
            place: 'Giza',
            title: 'Osteria Forest Restaurant',
            text:'2500 Mo Tower, El Nozha St ,El Harm St , El Giza',
            stars:'5.0',
        },

    ]
    //- our Team Page
    let persons = [
        {
            imgSrc: "images/team-person-1.png",
            name:'Ali Mustafa',
            job: 'Web Developer FoodRoad.',
        },
        {
            imgSrc: "images/team-person-2.png",
            name:'Mohamed Mustafa',
            job: 'CEO & Founder FoodRoad.',
        },
        {
            imgSrc: "images/team-person-3.png",
            name:'Yassin Ali',
            job: 'App Developer FoodRoad.',
        },
        {
            imgSrc: "images/team-person-4.png",
            name:'Noah Ali',
            job: 'Co-Founder FoodRoad.',
        },
        {
            imgSrc: "images/team-person-5.png",
            name:'Mohamed Ali',
            job: 'App Developer FoodRoad.',
        },
        {
            imgSrc: "images/team-person-6.jpg",
            name:'Ahmed Ali',
            job: 'Business Manager',
        },
    ]

    //- Home Page
    let resturantCard = [
        {
            imgSrc : 'images/delicious-1.png',
            title : 'Grilled Salmon Fillet',
            info : 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
            price : '$10.99',
        },
        {
            imgSrc : 'images/delicious-2.png',
            title : 'Chicken Teriyaki Sauce',
            info : 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
            price : '$5.99',
        },
        {
            imgSrc : 'images/delicious-3.png',
            title : 'Cheese Stuffed Burgers',
            info : 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
            price : '$8.99',
        },
        {
            imgSrc : 'images/delicious-4.png',
            title : 'Seafood Salad',
            info : 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
            price : '$9.99',
        },
        {
            imgSrc : 'images/delicious-5.png',
            title : 'Salad With Calamari',
            info : 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
            price : '$7.99',
        },
        {
            imgSrc : 'images/delicious-6.png',
            title : 'Baked Mushrooms',
            info : 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
            price : '$6.99',
        },
    ]
